<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <meta charset="UTF-8">
    <title>Image Uploader</title>
</head>
<body>

<h3>
    <span th:text = "${status}"> please wait...</span><br/>
    Welcome, <span th:text="${display_name}">display_name</span>
</h3>

<h4 id="upload_status"></h4>
<p id="message"></p>

<form enctype="multipart/form-data" id="form">
    <input type="file"><br/>
    <input type="file"><br/>
    <input type="file"><br/>
    <input type="submit" id="submit" onclick="myfunc()"> Note : each image must not be larger than 150MB.<br/>
</form>

<script>
    var count = 0;

    function myfunc(){

        $("#upload_status").html("please wait...");
        $("#message").html("");


        if($("#form input")[0].files[0] !== undefined){
            uploadImage(0);
            count++;
        }
        if($("#form input")[1].files[0] !== undefined){
            uploadImage(1);
            count++;
        }
        if($("#form input")[2].files[0] !== undefined){
            uploadImage(2);
            count++;
        }

        $('#submit').attr('disabled', true);
    }

    function uploadImage(n) {
	    var formData = new FormData();
        formData.append("file", $("#form input")[n].files[0]);

        $.ajax({
            type : "POST",
            contentType : "application/json",
            url : "upload",
            data : formData,
            processData: false,  // tell jQuery not to process the data
            contentType: false,  // tell jQuery not to set contentType
            timeout : 100000,
            success : function(res) {
                console.log("SUCCESS: ", res);
                $("#message").html($("#message").html() + res + "<br/>");
                count--;
                if(count === 0) uploadFinished();
            },
            error : function(e) {
                console.log("ERROR: ", e);
                $("#message").html($("#message").html() + e.responseText.message + "<br/>");
                count--;
                if(count === 0) uploadFinished();
            }
        });
    }

    function uploadFinished(){
        $("#upload_status").html("Finished.");
        $('#form').trigger('reset');
        $('#submit').attr('disabled', false);
    }

</script>

</body>
</html>